EXPO_PUBLIC_SUPABASE_URL=REPLACE_WITH_SUPABASE_URL
EXPO_PUBLIC_SUPABASE_ANON_KEY=REPLACE_WITH_SUPABASE_ANON_KEY
EXPO_PUBLIC_GOOGLE_MAPS_KEY=REPLACE_WITH_GOOGLE_MAPS_API_KEY
EXPO_PUBLIC_CITY_SLUG=demo
EXPO_PUBLIC_CITY_NAME=Demo City
EXPO_PUBLIC_APP_NAME=Cultura Demo
